* {
	margin: 0;
	padding: 0;

}

img{
	display: inline-block;
	width: 200px;
	height: 200px;
}
#wrapper{
background-color: #093145;
width: 1200px;
height: 1330px;
margin-left: 20px;
margin-top: 15px;
margin-bottom: 25px;
}
button{
	margin-top: 30px;
	margin-left: 100px;
	height: 30px;
	width: 60px;
	border-radius: 10px;
}